body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-btn{
width: 50px;
margin-left: 50px;
}
#profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
#hist{
    border: 2px black solid;
    border-radius: 3px;
    margin-left: 30px;
}
#info-icon{
    width: 50px;
}
#google-logo{
    width: 120px;
    margin-left: 210px;
}

.search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 24px;
    overflow: hidden;
    width: 300px;
    margin-left: 130px;
    margin-top: 35px;
}

#search-input {
    border: none;
    padding: 10px;
    width: 200px;
    outline: none;

}

#search-button {
    border: none;
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

#search-button:hover {
    background-color: #357ae8;
}